In [1]:
import duckdb  # noqa: F401
import pandas as pd  # noqa: F401
import os  # noqa: F401
from datetime import datetime # noqa: F401

In [2]:
con = duckdb.connect(database='../data/dados_duckdb.db',read_only=False)

In [16]:
arquivo = 'z0019_2.csv'
data_ingestao = datetime.now()
df_1 = pd.read_csv(f"../landing/{arquivo}", sep=";")
df_1['nome_arquivo'] = arquivo
df_1['data_ingestao'] = data_ingestao
df_1

   NATBR    MARKTZ WERKS  MAINS  LABST nome_arquivo              data_ingestao
0  10001  PARAFUSO  BT10    100    100  z0019_2.csv 2025-06-26 22:28:29.688976
1  10002   MARTELO  BT50    100   1500  z0019_2.csv 2025-06-26 22:28:29.688976
2  10003     PREGO  BT10    100     50  z0019_2.csv 2025-06-26 22:28:29.688976
3  10004     SERRA  BT50    100    200  z0019_2.csv 2025-06-26 22:28:29.688976
4  10005    MACHAD  BT10    100     50  z0019_2.csv 2025-06-26 22:28:29.688976
5  10003     PREGO  BT10    100     60  z0019_2.csv 2025-06-26 22:28:29.688976

In [17]:
con.execute(
    """ 
     CREATE TABLE IF NOT EXISTS bronze_produtos(
         NATBR VARCHAR,
         MARKTZ VARCHAR,
         WERKS VARCHAR,
         MAINS VARCHAR,
         LABST VARCHAR,
         nome_arquivo VARCHAR,  
         data_ingestao TIMESTAMP
     )
    """
)

In [18]:
con.execute('INSERT INTO bronze_produtos SELECT * FROM df_1')

In [ ]:
resultado = con.execute("SELECT * FROM bronze_produtos").fetch_df()
resultado

   NATBR    MARKTZ WERKS MAINS LABST nome_arquivo              data_ingestao
0  10001  PARAFUSO  BT10   100   100  z0019_1.csv 2025-06-26 22:00:50.685911
1  10002   MARTELO  BT50   100  1500  z0019_1.csv 2025-06-26 22:00:50.685911
2  10003     PREGO  BT10   100    50  z0019_1.csv 2025-06-26 22:00:50.685911
3  10001  PARAFUSO  BT10   100   100  z0019_2.csv 2025-06-26 22:28:29.688976
4  10002   MARTELO  BT50   100  1500  z0019_2.csv 2025-06-26 22:28:29.688976
5  10003     PREGO  BT10   100    50  z0019_2.csv 2025-06-26 22:28:29.688976
6  10004     SERRA  BT50   100   200  z0019_2.csv 2025-06-26 22:28:29.688976
7  10005    MACHAD  BT10   100    50  z0019_2.csv 2025-06-26 22:28:29.688976
8  10003     PREGO  BT10   100    60  z0019_2.csv 2025-06-26 22:28:29.688976

In [20]:
con.close()